//colors
$primary_color: #7289da;
$secondary_color: #6378bf;
$medium_shadow: rgba(0, 0, 0, 0.4);
$white: #fff;
$light_gray: #f9f9f9;
$light-shadow: rgba(0, 0, 0, 0.3);

//fonts
$body_font: 'Arial', 'Helvetica', 'Verdana', sans-serif;
$info_font: 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;

@import 'components/tabs';
@import 'components/short_codes';